@use "base/variables";

.wrapper {
  .header,
  .footer {
    font-size: variables.$font-size-large;
    font-weight: 400;
  }

  .content {
    margin-top: calc(variables.$margin * 2);
    margin-bottom: calc(variables.$margin * 2);

    @media all and (min-width: variables.$screen-md) {
      margin-top: variables.$margin;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: variables.$margin;
    display: flex;
    justify-content: space-between;

    @media all and (min-width: variables.$screen-sm) {
      .backtotop {
        display: none;
      }
    }
  }
}
