@use "base/variables";

.wrapper {
  position: relative;

  .header,
  .footer {
    font-size: variables.$font-size-large;
    font-weight: 400;
  }

  .header {
    p {
      @media all and (min-width: variables.$screen-xxs) {
        max-width: 30ch;
      }
    }
  }

  .content {
    margin-top: calc(variables.$margin-sm * 2);
    margin-bottom: calc(variables.$margin-sm * 2);

    @media all and (min-width: variables.$screen-md) {
      margin-top: variables.$margin-lg;
      margin-bottom: variables.$margin-lg;
    }
  }

  .footer {
    position: relative;

    .credits {
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]) {
  .header .description {
    display: none;
  }
}

:global(html[data-clutter="declutter-6"]) {
  .footer .credits {
    display: none;
  }
}

:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]) {
  .footer {
    z-index: 1000;
    position: fixed;
    bottom: variables.$margin-sm;
    left: variables.$margin-sm;
    right: variables.$margin-sm;
  }
}

:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]) {
  .content {
    margin-top: variables.$margin-xs;
  }
}

:global(html[data-clutter="clutter-6"]) {
  .wrapper {
    .header {
      @media all and (min-width: variables.$screen-md) {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 1.1em;
        right: 1.1em;
        width: 100%;
      }

      p {
        @media all and (min-width: variables.$screen-md) {
          max-width: 100%;
        }
      }
    }

    .content {
      margin-top: 0;

      @media all and (min-width: variables.$screen-md) {
        margin-top: 7em;
      }
    }
  }
}
