@use "base/variables";

.wrapper {
  .header,
  .footer {
    font-size: 1.2em;
    font-weight: 400;
  }

  .content {
    margin-top: 2em;
    margin-bottom: 2em;

    @media all and (min-width: variables.$screen-md) {
      margin-top: 1em;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 1em;
    display: flex;
    justify-content: space-between;

    @media all and (min-width: variables.$screen-sm) {
      .backtotop {
        display: none;
      }
    }
  }
}
