$screen-xs: 500px;
$screen-sm: 600px;
$screen-md: 854px;
$screen-lg: 1200px;

$border-radius: 4px;
$border-size: 1px;

$background-color: #fbfaf8;
$background-hover: #f3f0ec;
$text-color: #111111;

$margin: 8em;
