@use "../../../assets/scss/base/variables";
@use "../../../assets/scss/utils.module.scss";

.galleryEntry {
  position: relative;
  display: flex;
  animation: fadeIn variables.$transition-lg-in forwards;
  opacity: 0;

  @media all and (min-width: variables.$screen-sm) {
    font-size: variables.$font-size-small;
  }

  ul,
  li {
    margin: 0;
  }

  .date {
    margin: 0;
    font-weight: 400;
    font-size: variables.$font-size-base;
  }

  .label {
    @extend .screen_reader_text;
  }

  figure {
    position: relative;
    order: -2;
    margin: 0;
  }

  .metadata {
    .location,
    .city,
    .country {
      display: inline;

      + .city,
      + .country {
        &:before {
          content: ", ";
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
