.entry {
  position: relative;
  display: flex;
  flex-direction: column;

  + .entry {
    margin-top: 1em;
  }

  @media all and (min-width: 600px) {
    font-size: 0.9em;
  }

  .caption {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
  }

  figure {
    position: relative;
    order: -1;
    display: flex;
    flex-direction: column;
    height: 130vw;
    margin: 0 0 1vw 0;

    @media all and (min-width: 600px) {
      height: 60vw;
    }

    img {
      object-fit: cover;
      object-position: center;
      image-orientation: none;
    }
  }
}
