.entry {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2.4vw;
  font-size: 0.8em;

  .caption {
    margin: 0.5em 0 0 0;
    font-weight: 600;
    font-size: 1em;
  }

  figure {
    position: relative;
    order: -1;
    display: flex;
    flex-direction: column;
    height: 130vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1vw;

    @media all and (min-width: 600px) {
      height: 60vw;
    }

    img {
      object-fit: cover;
      object-position: center;
      image-orientation: none;
    }
  }

  ul {
    li.place,
    li.city {
      display: inline;

      + li {
        &:before {
          content: ", ";
        }
      }
    }
  }
}
