.gallery {
  margin-top: 2em;

  @media all and (min-width: 600px) {
    margin-top: 1em;
  }

  article {
    flex-direction: column;

    + article {
      margin-top: 2em;
    }

    @media all and (min-width: 600px) {
      margin-top: 1.8vw;
    }

    figure {
      margin-bottom: 1vw;
    }

    ul {
      @media all and (min-width: 600px) {
        margin-top: 0.1em;
      }
    }
  }
}
