.header {
  z-index: 1000;
  //position: fixed;
  top: 0;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  a {
    text-decoration: none;
  }

  .title {
    margin: 0;
    font-size: 18vw;
    line-height: 1;
  }
}

.content {
  margin: 2vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 2vw;
  margin-right: 2vw;
}
