.wrapper {
  max-width: 650px;
  margin: 0 auto;

  @media all and (min-width: 600px) {
    max-width: 60vw;
  }

  .header {
    width: 100%;
  }

  .content {
    margin-top: 2em;

    @media all and (min-width: 600px) {
      margin-top: 1em;
    }
  }
}
