@use "base/variables";

.wrapper {
  .header,
  .footer {
    font-size: 1.2em;
    font-weight: 400;
  }

  .content {
    margin-top: 2em;
    margin-bottom: 2em;

    @media all and (min-width: variables.$screen-md) {
      margin-top: 1em;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 1em;
    display: flex;
    justify-content: space-between;

    @media all and (min-width: variables.$screen-sm) {
      .backtotop {
        display: none;
      }
    }

    .colophon {
      position: absolute;
      right: 1em;
    }
  }

  .colophonContent {
    //display: none;
    position: absolute;
    bottom: 3em;
    right: 0;
    background: variables.$background-color;
    width: 46vw;
    margin: 0 auto;
    border: variables.$border-size solid variables.$text-color;
    padding: 1em;
  }

  h2 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
  }
}
