@use "../base/variables";
@use "../utils.module.scss";

.entry {
  position: relative;
  display: flex;

  @media all and (min-width: variables.$screen-sm) {
    font-size: 0.9em;
  }

  .caption {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
  }

  .label {
    @extend .screen_reader_text;
  }

  figure {
    position: relative;
    order: -2;
    margin: 0;
  }

  .title {
    order: -1;
    margin: 0;
  }

  .name {
    display: none;
    margin: 0;
  }

  .camera {
    display: none;
  }

  .metadata {
    .place,
    .city,
    .country {
      display: inline;

      + .city,
      + .country {
        &:before {
          content: ", ";
        }
      }
    }
  }
}
