@use "../../assets/scss/base/variables";

.link {
  z-index: 1000;
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: variables.$font-size-base;
  text-transform: lowercase;
  color: variables.$text-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:before {
    content: "( ";
  }

  &:after {
    content: " )";
  }
}

:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]) {
  .link {
    z-index: 1000;
    position: fixed;
    bottom: variables.$margin-sm;
    right: variables.$margin-sm;
  }
}
