@use "../base/variables";
@use "sass:color";

.clutterControl {
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  justify-content: end;

  @media all and (max-width: variables.$screen-xxs) {
    display: none;
  }

  @media all and (min-width: variables.$screen-xs) {
    gap: 0.27em;
  }

  button {
    display: flex;
    align-items: flex-start;
    gap: 0.3em;
    background: none;
    height: 48px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: variables.$font-size-small;
    text-transform: lowercase;
    color: variables.$text-color;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all variables.$transition-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
      filter: alpha(opacity=100);
      transition: all variables.$transition-in;
    }

    svg {
      width: 12px;
      height: 12px;
      fill: variables.$text-color;

      @media all and (min-width: variables.$screen-sm) {
        width: 16px;
        height: 16px;
      }
    }

    span {
      line-height: 12px;

      @media all and (min-width: variables.$screen-sm) {
        line-height: 16px;
      }
    }
  }

  .clutterInput {
    order: -1;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding-top: 0.45em;
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: all variables.$transition-out;

    &:hover,
    &:focus {
      opacity: 1;
      filter: alpha(opacity=100);
      transition: all variables.$transition-in;
    }

    @media all and (min-width: variables.$screen-xs) {
      padding-top: 0.4em;
    }

    @media all and (min-width: variables.$screen-sm) {
      padding-top: 0.45em;
    }

    @media all and (min-width: variables.$screen-md) {
      padding-top: 0.37em;
    }

    label {
      display: flex;
      align-items: flex-start;

      input {
        appearance: none;
        -webkit-appearance: none;
        align-self: flex-start;
        background: transparent;
        margin: 0;
        width: 20vw;
        height: 100%;
        border: none;

        @media all and (min-width: variables.$screen-sm) {
          width: 16vw;
        }

        @media all and (min-width: variables.$screen-md) {
          width: 14vw;
        }

        @media all and (min-width: variables.$screen-lg) {
          width: 10vw;
        }

        &::-webkit-slider-runnable-track,
        &::-moz-range-track {
          height: 1px;
          background: color.adjust(
            $color: variables.$text-color,
            $lightness: 30%
          );
          border-radius: variables.$border-radius-md;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          box-sizing: border-box;
          box-shadow: none;
          margin-top: calc((1px / 2) - (12px / 2));

          @media all and (min-width: variables.$screen-sm) {
            margin-top: calc((1px / 2) - (16px / 2));
          }
        }

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          box-sizing: border-box;
          width: 12px;
          height: 12px;
          background-color: transparent;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><circle cx='10' cy='10' r='9' fill='%23fbfaf8' stroke='%23111111' stroke-width='1.4'/></svg>");
          background-size: 100% 100%;
          border: none;
          border-radius: 0;
          cursor: pointer;

          @media all and (min-width: variables.$screen-sm) {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

:global(html[data-clutter="clutter-6"]) {
  .clutterControl {
    @media all and (min-width: variables.$screen-md) {
      top: variables.$margin-xs;
      right: calc(variables.$margin-md + 0.3em);
    }
  }
}

:global(html[data-clutter="declutter-6"]) {
  .clutterControl {
    position: relative;
  }
}
