.navigation {
  .link {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

:global(html[data-clutter="clutter-6"]) {
  .navigation ul {
    display: inline-flex;
    gap: 0.5em;
  }
}

:global(html[data-clutter="declutter-6"]) {
  .navigation {
    display: none;
  }
}
