@use "../base/variables";

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10vw;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;

  @media all and (min-width: variables.$screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media all and (min-width: variables.$screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  article {
    flex-direction: column;
    text-align: center;

    &:hover,
    &:focus {
      > figure img {
        box-shadow: variables.$small-shadow;
        transition: box-shadow variables.$transition-md-in;
        -webkit-transition: box-shadow variables.$transition-md-in;
        -moz-transition: box-shadow variables.$transition-md-in;
      }
    }

    figure {
      margin: 0 0 0.5em 0;

      img {
        transition: box-shadow variables.$transition-md-out;
        -webkit-transition: box-shadow variables.$transition-md-out;
        -moz-transition: box-shadow variables.$transition-md-out;
      }
    }
  }
}
