@use "../base/variables";

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 7vw;
  margin-left: 3vw;
  margin-right: 3vw;

  @media all and (min-width: variables.$screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media all and (min-width: variables.$screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  article {
    flex-direction: column;
    text-align: center;

    &:hover,
    &:focus {
      > figure img {
        box-shadow: variables.$small-shadow;
        transition: box-shadow variables.$transition-md-in;
        -webkit-transition: box-shadow variables.$transition-md-in;
        -moz-transition: box-shadow variables.$transition-md-in;
      }
    }

    figure {
      margin: 0 0 0.5em 0;

      img {
        transition: box-shadow variables.$transition-md-out;
        -webkit-transition: box-shadow variables.$transition-md-out;
        -moz-transition: box-shadow variables.$transition-md-out;
      }
    }
  }
}

:global(html[data-clutter="clutter-1"]),
:global(html[data-clutter="clutter-2"]),
:global(html[data-clutter="clutter-3"]),
:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]),
:global(html[data-clutter="clutter-7"]),
:global(html[data-clutter="clutter-8"]) {
  .gallery {
    margin-top: 0;
  }
}

:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]),
:global(html[data-clutter="clutter-7"]),
:global(html[data-clutter="clutter-8"]) {
  .gallery {
    @media all and (min-width: variables.$screen-lg) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
