@use "../base/variables";

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10vw;
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;

  @media all and (min-width: variables.$screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media all and (min-width: variables.$screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  article {
    flex-direction: column;
    text-align: center;

    &:hover,
    &:focus {
      > figure {
        box-shadow: variables.$shadow-hover;
      }
    }

    figure {
      margin-top: 0;
      margin-bottom: 1vw;
    }

    ul {
      @media all and (variables.$screen-sm) {
        margin-top: 0.1em;
      }
    }
  }
}
