@use "../base/variables";
@use "../utils.module.scss";

.list {
  overflow-x: hidden;
  width: 100%;
  margin-top: 2em;
  border-collapse: collapse;

  @media all and (min-width: variables.$screen-sm) {
    margin-top: 1em;
  }

  thead {
    tr {
      th {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
        font-weight: normal;

        + th {
          padding-left: 1.5em;
        }

        &[id="date"] {
          text-align: right;
        }

        &[id="camera"],
        &[id="category"] {
          @media all and (max-width: variables.$screen-md) {
            display: none;
          }
        }

        &[id="location"],
        &[id="city"] {
          @media all and (max-width: variables.$screen-xs) {
            display: none;
          }
        }

        &[id="image"] {
          @media all and (max-width: variables.$screen-xxs) {
            display: none;
          }
        }

        &[id="description"] {
          @media all and (max-width: variables.$screen-xxs) {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}
