@use "../base/variables";
@use "../utils.module.scss";

.list {
  overflow-x: scroll;
  width: 100%;
  margin-top: 2em;
  border-collapse: collapse;

  @media all and (max-width: variables.$screen-sm) {
    min-width: 100vw;
  }

  @media all and (min-width: variables.$screen-sm) {
    margin-top: 1em;
  }

  @media all and (min-width: variables.$screen-lg) {
    overflow-x: hidden;
  }

  thead {
    tr {
      th {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
        font-weight: normal;

        + th {
          padding-left: 1.5em;
        }

        &[id="camera"] {
          display: none;
        }
      }
    }
  }
}
