@use "../base/variables";
@use "../utils.module.scss";

.list {
  overflow-x: hidden;
  width: 100%;
  margin-top: 2em;
  border-collapse: collapse;

  @media all and (min-width: variables.$screen-sm) {
    margin-top: 1em;
  }

  thead {
    tr {
      th {
        border-bottom: variables.$border-size solid variables.$text-color;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
        font-weight: normal;

        + th {
          padding-left: 1.5em;
        }

        &[id="date"] {
          text-align: right;
        }

        &[id="camera"],
        &[id="category"] {
          @media all and (max-width: variables.$screen-md) {
            display: none;
          }
        }

        &[id="location"],
        &[id="city"] {
          @media all and (max-width: variables.$screen-xs) {
            display: none;
          }
        }

        &[id="image"] {
          @media all and (max-width: variables.$screen-xxs) {
            display: none;
          }
        }

        &[id="description"] {
          @media all and (max-width: variables.$screen-xxs) {
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}

:global(html[data-clutter="declutter-1"]),
:global(html[data-clutter="declutter-2"]),
:global(html[data-clutter="declutter-3"]),
:global(html[data-clutter="declutter-4"]),
:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]) {
  .list {
    thead {
      display: none;
    }
  }
}

:global(html[data-clutter="clutter-2"]),
:global(html[data-clutter="clutter-1"]),
:global(html[data-clutter="default-0"]),
:global(html[data-clutter="declutter-1"]),
:global(html[data-clutter="declutter-2"]),
:global(html[data-clutter="declutter-3"]),
:global(html[data-clutter="declutter-4"]),
:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]) {
  .list thead tr th[id="camera"] {
    display: none;
  }
}
