@use "../base/variables";

.footer {
  display: flex;
  gap: variables.$margin-xs;
  justify-content: space-between;
  align-items: center;
  border-top: variables.$border-size solid variables.$text-color;

  .pagination {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;

    nav {
      ul {
        display: flex;
      }

      .prev,
      .next,
      .disabled {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;

        svg {
          fill: variables.$text-color;
          width: 1.6em;
          height: auto;
        }
      }

      .disabled {
        cursor: not-allowed;
        opacity: 0.3;
        filter: alpha(opacity=3);
      }

      .prev,
      .next {
        opacity: 0.8;
        filter: alpha(opacity=80);
        transition: all variables.$transition-out;

        &:hover,
        &:focus-visible {
          color: variables.$text-color-hover;
          opacity: 1;
          filter: alpha(opacity=100);
          transition: all variables.$transition-in;
        }
      }
    }
  }
}

:global(html[data-clutter="declutter-4"]),
:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]) {
  .footer {
    display: none;
  }
}
