@use "../../base/variables";

.listEntry {
  width: 100%;
  cursor: pointer !important;
  vertical-align: middle;
  border-top: variables.$border-size solid variables.$text-color;
  transition: all variables.$transition-out;
  -webkit-transition: all variables.$transition-out;
  -moz-transition: all variables.$transition-out;

  &:nth-child(1) {
    border-top: 0;
  }

  &:hover,
  &:focus {
    background-color: variables.$background-hover;
    transition: all variables.$transition-in;
    -webkit-transition: all variables.$transition-in;
    -moz-transition: all variables.$transition-in;
  }

  .image {
    cursor: zoom-in;
    width: 100%;
    height: 1.2em;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }

  td {
    padding-top: 1em;
    padding-bottom: 1em;

    + td {
      padding-left: 1.5em;
    }

    &[headers="description"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 20vw;

      @media all and (max-width: variables.$screen-xxs) {
        max-width: 40vw;
      }
    }

    &[headers="image"] {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &[headers="category"] {
      width: 9vw;
    }

    &[headers="location"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 15vw;
    }

    &[headers="camera"],
    &[headers="city"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 12vw;
    }

    &[headers="date"] {
      max-width: 20vw;
      text-align: right;

      @media all and (max-width: variables.$screen-xxs) {
        max-width: 60vw;
      }
    }

    &[headers="camera"],
    &[headers="category"] {
      @media all and (max-width: variables.$screen-md) {
        display: none;
      }
    }

    &[headers="location"],
    &[headers="city"] {
      @media all and (max-width: variables.$screen-xs) {
        display: none;
      }
    }

    &[headers="image"] {
      @media all and (max-width: variables.$screen-xxs) {
        display: none;
      }
    }

    &[headers="description"] {
      @media all and (max-width: variables.$screen-xxs) {
        padding-left: 0 !important;
      }
    }
  }
}

:global(html[data-clutter="declutter-4"]),
:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]),
:global(html[data-clutter="declutter-7"]),
:global(html[data-clutter="declutter-8"]) {
  .listEntry {
    border-top: none;

    &:hover,
    &:focus {
      background: none;

      td {
        text-decoration: underline;
      }
    }
  }
}

:global(html[data-clutter="clutter-1"]) {
  .listEntry {
    td[headers="image"] {
      max-width: 12vw;
    }
  }
}

:global(html[data-clutter="clutter-2"]) {
  .listEntry {
    td[headers="image"] {
      max-width: 20vw;
    }
  }
}

:global(html[data-clutter="clutter-3"]),
:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]) {
  .listEntry {
    td[headers="image"] {
      max-width: 16vw;
    }
  }
}
