@use "../../base/variables";

.singleEntry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 1em;

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;

    .title,
    .location {
      position: fixed;
    }

    .title {
      left: 1em;
    }

    .location {
      right: 1em;
    }

    .entryTitle,
    p {
      margin: 0;
      font-weight: 400;
      font-size: variables.$font-size-large;
    }

    .location {
      text-align: right;
    }
  }

  .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;

    .image {
      padding-top: 5vh;
      padding-bottom: 5vh;

      img {
        width: auto;
        max-height: 70vh;
        box-shadow: variables.$shadow;
      }
    }

    .caption {
      width: 100%;
      font-size: 0.9em;

      ul {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
