@use "../../base/variables";

.navigation {
  ul {
    .prev,
    .next {
      position: fixed;
      bottom: variables.$margin;
      opacity: 0.6;
      filter: alpha(opacity=60);
      transition: all variables.$transition-out;
      -webkit-transition: all variables.$transition-out;
      -moz-transition: all variables.$transition-out;

      svg {
        fill: variables.$text-color;
        width: 2em;
        height: auto;
      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        transition: all variables.$transition-in;
        -webkit-transition: all variables.$transition-in;
        -moz-transition: all variables.$transition-in;
      }
    }

    .prev {
      left: variables.$margin;
    }

    .next {
      right: variables.$margin;
    }
  }
}
