@use "../../base/variables";

.singleEntry {
  color: blue;

  header {
    display: flex;
    justify-content: space-between;

    h2,
    p {
      margin: 0;
    }
  }
  .image {
    max-width: 100%;
    height: auto;
    margin: 0;

    img {
      box-shadow: variables.$shadow;
    }
  }
}
