@use "../../base/variables";

.singleEntry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 1em;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;

    .entryTitle,
    p {
      margin: 0;
      font-weight: 400;
      font-size: variables.$font-size-large;
    }

    .location {
      text-align: right;
    }
  }

  .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      img {
        max-width: 100%;
        height: auto;
        box-shadow: variables.$shadow;
      }
    }

    .caption {
      width: 100%;

      ul {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
