@use "../../base/variables";

.navigation {
  ul {
    .prev,
    .next {
      position: fixed;
      bottom: variables.$margin;
      opacity: 0.6;
      filter: alpha(opacity=60);
      transition: all variables.$transition-out;
      -webkit-transition: all variables.$transition-out;
      -moz-transition: all variables.$transition-out;

      a {
        display: flex;
        justify-content: center;
        min-width: 48px;
        min-height: 48px;
      }

      svg {
        fill: variables.$text-color;
        width: 2em;
        height: auto;
      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        transition: all variables.$transition-in;
        -webkit-transition: all variables.$transition-in;
        -moz-transition: all variables.$transition-in;
      }
    }

    .prev {
      left: calc(variables.$margin - (24px - 1em));
    }

    .next {
      right: calc(variables.$margin - (24px - 1em));
    }
  }
}
