@use "../../base/variables";

.singleEntry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: variables.$margin-01;

  .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: variables.$margin-01;
  }

  .navigation {
    z-index: 1000;
  }

  .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90vh;
  }
}
