@use "../../base/variables";

.singleEntry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: variables.$margin;

  .navigation,
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: variables.$margin;
  }

  .header {
    .title,
    .location {
      position: fixed;
    }

    .title {
      left: variables.$margin;
    }

    .location {
      right: variables.$margin;
    }

    .entryTitle,
    p {
      margin: 0;
      font-weight: 400;
      font-size: variables.$font-size-large;
    }

    .location {
      text-align: right;
    }
  }

  .imgWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90vh;

    .image {
      padding-top: 5vh;
      padding-bottom: 5vh;

      img {
        width: auto;
        max-height: 70vh;
        box-shadow: variables.$shadow;
        transition: all variables.$transition-out;
        -webkit-transition: all variables.$transition-out;
        -moz-transition: all variables.$transition-out;

        &:hover,
        &:focus {
          box-shadow: all variables.$shadow-hover;
          transition: all variables.$transition-in;
          -webkit-transition: all variables.$transition-in;
          -moz-transition: all variables.$transition-in;
        }
      }
    }

    .caption {
      width: 100%;
      font-size: variables.$font-size-small;

      ul {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
