@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: variables.$background-color;
  margin: variables.$margin;
  text-transform: lowercase;
  font-family:
    "Ronzino",
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: variables.$text-color;

  @media all and (min-width: variables.$screen-xs) {
    font-size: 12px;
  }

  @media all and (min-width: variables.$screen-sm) {
    font-size: 14px;
  }

  @media all and (min-width: variables.$screen-lg) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

figure {
  position: relative;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: variables.$border-radius;
}

ul,
li {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}
