$screen-xs: 500px;
$screen-sm: 600px;
$screen-md: 854px;
$screen-lg: 1200px;

$border-radius: 4px;
$border-radius-md: 8px;
$border-size: 1px;

$background-color: #fbfaf8;
$background-hover: #f3f0ec;
$text-color: #111111;

$margin-01: 1.4em;
$margin-02: 3.2em;
$margin: $margin-01;

$small-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
$shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1);
$shadow-hover: 20px 20px 60px 5px rgba(0, 0, 0, 0.04);

$transition-in: 0.25s ease-in-out;
$transition-out: 0.1s ease-in-out;

$transition-md-in: 0.35s ease-in-out;
$transition-md-out: 0.2s ease-in-out;

$transition-lg-in: 0.4s ease-in-out;
$transition-lg-out: 0.25s ease-in-out;

$font-size-small: 0.9em;
$font-size-base: 1em;
$font-size-large: 1.2em;
