$screen-xs: 500px;
$screen-sm: 600px;
$screen-md: 854px;
$screen-lg: 1200px;

$border-radius: 4px;
$border-radius-md: 8px;
$border-size: 1px;

$background-color: #fbfaf8;
$background-hover: #f3f0ec;
$text-color: #111111;

$margin: 8em;

$small-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
$shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1);
$shadow-hover: 20px 20px 60px 5px rgba(0, 0, 0, 0.02);

$transition-in: all 0.25s ease-in-out;
$transition-out: all 0.1s ease-in-out;

$transition-md-in: all 0.35s ease-in-out;
$transition-md-out: all 0.2s ease-in-out;

$font-size-base: 1em;
$font-size-large: 1.2em;
