$screen-xxs: 304px;
$screen-xs: 500px;
$screen-sm: 600px;
$screen-md: 854px;
$screen-lg: 1200px;

$border-radius: 4px;
$border-radius-md: 8px;
$border-size: 1px;

$background-color: #fffaf2;
$background-hover: rgba(225, 218, 209, 0.32);
$text-color: #282828;
$text-color-hover: #111111;

$margin-xs: 1em;
$margin-sm: 1.4em;
$margin-md: 2em;
$margin-lg: 3.2em;

$padding-sm: 0.75em;
$padding-md: 1em;
$padding-lg: 1.4em;

$small-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
$shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1);
$shadow-hover: 20px 20px 60px 5px rgba(0, 0, 0, 0.04);

$transition-in: 0.25s ease-in-out;
$transition-out: 0.1s ease-in-out;

$transition-md-in: 0.35s ease-in-out;
$transition-md-out: 0.2s ease-in-out;

$transition-lg-in: 0.4s ease-in-out;
$transition-lg-out: 0.25s ease-in-out;

$transition-xl-in: 0.8s ease-in-out;
$transition-xl-out: 0.45s ease-in-out;

$font-size-small: 0.9em;
$font-size-base: 1em;
$font-size-large: 1.2em;
