$screen-xs: 500px;
$screen-sm: 600px;
$screen-md: 854px;
$screen-lg: 1200px;

$border-radius: 4px;
$border-size: 1px;

$background-color: #fbfaf8;
$background-hover: #f3f0ec;
$text-color: #111111;

$margin: 8em;

$shadow: 24px 16px 63.9px 26px rgba(0, 0, 0, 0.1);
$shadow-hover: 1px 1px 11.8px 4px rgba(0, 0, 0, 0.2);
