@use "../../../base/variables";

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90vh;

  .image {
    padding-top: 5vh;
    padding-bottom: 5vh;

    img {
      width: auto;
      max-height: 70vh;
      box-shadow: variables.$shadow;
      transition: all variables.$transition-out;
      -webkit-transition: all variables.$transition-out;
      -moz-transition: all variables.$transition-out;

      &:hover,
      &:focus {
        box-shadow: all variables.$shadow-hover;
        transition: all variables.$transition-in;
        -webkit-transition: all variables.$transition-in;
        -moz-transition: all variables.$transition-in;
      }
    }
  }

  .caption {
    width: 100%;
    font-size: variables.$font-size-small;

    ul {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

:global(html[data-clutter="declutter-2"]),
:global(html[data-clutter="declutter-3"]),
:global(html[data-clutter="declutter-4"]),
:global(html[data-clutter="declutter-5"]),
:global(html[data-clutter="declutter-6"]) {
  .imgWrapper {
    .caption {
      display: none;
    }
  }
}
