@use "../../../base/variables";

.navigation {
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  ul {
    .prev,
    .next {
      position: fixed;
      bottom: variables.$margin-01;
      opacity: 0.6;
      filter: alpha(opacity=60);
      transition: all variables.$transition-out;
      -webkit-transition: all variables.$transition-out;
      -moz-transition: all variables.$transition-out;

      a {
        display: flex;
        justify-content: center;
        min-width: 48px;
        min-height: 48px;
      }

      svg {
        fill: variables.$text-color;
        width: 2em;
        height: auto;
      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        transition: all variables.$transition-in;
        -webkit-transition: all variables.$transition-in;
        -moz-transition: all variables.$transition-in;
      }
    }

    .prev {
      left: calc(variables.$margin-01 - (24px - 1em));
    }

    .next {
      right: calc(variables.$margin-01 - (24px - 1em));
    }
  }
}

:global(html[data-clutter="clutter-4"]),
:global(html[data-clutter="clutter-5"]),
:global(html[data-clutter="clutter-6"]) {
  .navigation {
    .prev,
    .next {
      svg {
        width: 1.6em;
      }

      a {
        align-items: center;
        gap: 0.5em;
        font-size: variables.$font-size-large;
        text-decoration: none;
      }
    }

    .prev {
      left: calc(variables.$margin-01 - (24px - 1.5em));
    }

    .next {
      right: calc(variables.$margin-01 - (24px - 1.5em));

      a {
        span {
          order: -1;
        }
      }
    }
  }
}
