@use "../../base/variables";

.listEntry {
  cursor: pointer !important;
  vertical-align: middle;
  border-top: variables.$border-size solid variables.$text-color;

  &:hover,
  &:focus {
    background-color: variables.$background-hover;
  }

  .image {
    cursor: zoom-in;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  }

  td {
    padding-top: 1em;
    padding-bottom: 1em;

    + td {
      padding-left: 1.5em;
    }

    &[headers="description"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 20vw;
    }

    &[headers="image"] {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &[headers="category"] {
      width: 9vw;
    }

    &[headers="location"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 15vw;
    }

    &[headers="camera"],
    &[headers="city"] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 12vw;
    }

    &[headers="date"] {
      width: 12vw;
    }

    &[headers="image"] figure,
    &[headers="camera"] {
      display: none !important;
    }
  }
}
