@use "../../base/variables";

.content {
  display: none;
  position: absolute;
  bottom: 3em;
  right: 0;
  background: variables.$background-color;
  width: 60vw;
  margin: 0 auto;
  border: variables.$border-size solid variables.$text-color;
  border-radius: variables.$border-radius-md;
  padding: 1em;

  @media all and (min-width: variables.$screen-sm) {
    font-size: 0.9em;
  }

  @media all and (min-width: variables.$screen-md) {
    width: 44vw;
  }

  .close {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: none;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;

    svg {
      fill: variables.$text-color;
      margin-top: -12px;
      margin-right: -12px;
      width: 20px;
      height: 20px;

      @media all and (min-width: variables.$screen-sm) {
        margin-top: 0;
        margin-right: 0;
        width: 24px;
        height: 24px;
      }
    }
  }

  h2 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
  }
}
