.link {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: lowercase;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:before {
    content: "( ";
  }

  &:after {
    content: " )";
  }
}
