@use "../../base/variables";

.link {
  z-index: 1000;
  position: fixed;
  bottom: variables.$margin-01;
  right: variables.$margin-01;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: variables.$font-size-small;
  text-transform: lowercase;
  color: variables.$text-color;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:before {
    content: "( ";
  }

  &:after {
    content: " )";
  }
}
